<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>コミットログ</title>
    <link rel="stylesheet" href="{{BASE_PATH}}/css/highlight/default.css">
    <link rel="stylesheet" href="{{BASE_PATH}}/css/bulma.min.css">
    <script src="{{BASE_PATH}}/js/vendor/fontawesome.js"></script>
    <script src="{{BASE_PATH}}/js/vendor/promise-7.0.4.min.js"></script>
    <script src="{{BASE_PATH}}/js/vendor/vue.js"></script>
    <script src="{{BASE_PATH}}/js/vendor/axios.min.js"></script>
    
    <script src="{{BASE_PATH}}/js/bulma_dialog.js"></script>
    <script src="{{BASE_PATH}}/js/commitlog.js"></script>    

</head>

<body>
    <section class="section">
        <h1 class="title">コミットログ</h1>
        <a href="{{BASE_PATH}}/commitlog/{{repositoryId}}">ログの一覧</a>
        <div id="commitlog" style="display:none">
            <div class="content">
                <div class="table-container">
                    <table class="table">
                        <tbody>
                            {% for commitlog in commitlogs %}
                                <tr name="{{commitlog.commitId}}">
                                    <td>
                                        <a name="{{commitlog.commitId}}"></a>
                                        <i v-show="!expands['{{commitlog.commitId}}']" class="fas fa-angle-right" @click="expand('{{commitlog.commitId}}')"></i>
                                        <i v-show="expands['{{commitlog.commitId}}']" class="fas fa-angle-down"  @click="collapse('{{commitlog.commitId}}')"></i>
                                        {{commitlog.commitShortId|e}}
                                    </td>
                                    <td>
                                        {{commitlog.subject|e}}
                                    </td>
                                    <td>
                                        {{commitlog.author|e}}
                                    </td>
                                    <td>
                                        {{commitlog.date|e}}
                                    </td>
                                </tr>
                                <tr>
                                    {# コミット時に修正したファイルの一覧を表示 #}
                                    <td colspan="4">
                                        <div class="table-container" >
                                            <table>
                                                {% for opepath in commitlog.opePaths %}
                                                <tr>
                                                    <td>
                                                        {# 操作による分岐 #}
                                                        {% if opepath.ope == 1 %}
                                                            <i class="fas fa-plus-circle"></i>&nbsp;<a href="{{BASE_PATH}}/filediff/{{repositoryId}}/{{commitlog.commitId}}/{{opepath.path}}">{{opepath.path}}</a>
                                                        {% elseif opepath.ope == 2 %}
                                                            <i class="far fa-trash-alt"></i>&nbsp;{{opepath.path}}
                                                        {% elseif opepath.ope == 3 %}
                                                            <i class="far fa-edit"></i>&nbsp;<a href="{{BASE_PATH}}/filediff/{{repositoryId}}/{{commitlog.commitId}}/{{opepath.path}}">{{opepath.path}}</a>
                                                        {% elseif opepath.ope == 4 %}
                                                            {{opepath.path}}→<a href="{{BASE_PATH}}/filediff/{{repositoryId}}/{{commitlog.commitId}}/{{opepath.path2}}">{{opepath.path2}}</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>
</html>